.my-tag{
  margin: 0;
  border: 1px solid #eeeeee;
  color: #FDE3CF;
}

.info-title{
  cursor: pointer;
  width: fit-content;
  color: #666666;
  font-size: 25px;
}
.info-title:hover{
  color: #999999;
}
.info-title:active{
  color: #777777;
}
.link:active{
  text-decoration: none;
}

.collapse-card-top{
  position: absolute;
  color: #F15A24;
}
