.service-card{
  display: inline-block;
  margin: 0 17px;
}
.tag-header{
  position: relative;

  .handle-icon{
    display: inline-block;
    position: absolute;
    right: 0px;

    .handle{
      margin: 0 4px;
    }
  }
}

