.article-details{
  width: 100%;
  background-color: #ffffff;
  padding: 0px;

  .article-details-header{
    height: 80px;
    padding: 10px 0 0 20px;
    border-left: 7px solid #666;
    position: relative;

    .article-details-header-title{
      cursor: pointer;
      margin-top: 0;
    }

    .article-details-header-time{
      position: absolute;
      right: 30px;
      top: 18px;
      color: #999;
      cursor: pointer;
    }

    .article-details-header-tags{
      display: inline-block;
    }
    .article-details-header-yuedu{
      display: inline-block;
      position: absolute;
      right: 50px;
      color: #999999;
      cursor: pointer;
    }
  }
  .article-details-header:hover{
    color: #666666;
    border-left: 7px solid #777777;
  }

  .article-details-content{
    padding: 0 30px 20px;

    .article-details-content-footer{
      padding: 10px 0;
      height: 80px;
      position: relative;

      .article-details-content-footer-opt{
        height: 20px;
        .article-details-content-footer-div{
          display: inline-block;
          position: absolute;
          color: #666666;
          cursor: pointer;
        }
        .article-details-content-footer-div:hover{
          color: #999999;
        }

        .article-details-content-footer-pre{
          left: 0;
        }
        .article-details-content-footer-next{
          right: 0;
        }

        .content-footer{
          padding: 0 5px;
        }
      }

      .article-details-content-footer-icon{
        padding: 10px 0;
        text-align: center;
      }
    }
  }
}

.container{
  box-sizing: border-box;
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
}
.container img,
.container audio,
.container video{
  max-width: 100%;
  height: auto;
}
.container p{
  white-space: pre-wrap;
  min-height: 1em;
}
.container pre{
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #666;
}
.container blockquote{
  margin: 0;
  padding: 15px;
  background-color: #f1f1f1;
  border-left: 3px solid #d1d1d1;
}
.container ul,ol{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.container ul{
  list-style: disc;
}
.container ol{
  list-style: decimal;
}
.container tr:nth-child(1){
  background-color: #aaaaaa !important;
}
.container tr:nth-child(2n-1){
  background-color: #eeeeee;
}
.container td{
  border: 1px solid #666;
  padding: 5px 15px;
  text-align: center;
}

