.collect-tool{
}

.collect-tool-title{
  margin: 0;
  cursor: pointer;
  color: #333333;
  text-align: center;

  .collect-tool-title-a{
    color: #333333;
    text-decoration: none;
  }
  .collect-tool-title-a:hover{
    color: #666666;
  }
}
