.article-list{
  background-color: #ffffff;
  border-radius: 5px;
}
.article-list-header{
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 32px;
  font-size: 16px;

  .article-list-header-content{
    width: 70%;
    margin: 0 auto;

    .article-list-header-category{
      display: inline-block;
      position: absolute;
      margin-top: 2px;
    }

    .article-header-category-write{
      box-sizing: border-box;
      border: 1px solid;
      color: #999999;
      border-radius: 10px;
      padding: 0 4px;
      cursor: pointer;
      margin-left: 20px;
      display: inline-block;
      position: absolute;
      width: 100px;
      height: 32px;

      .write-icon{
        margin: 0 7px;
      }
    }
    .article-header-category-write:hover{
      color: #bbbbbb;
    }
  }
}

.article-list-content{

  .article-list-content-none{
    font-size: 20px;
    line-height: 640px;
    text-align: center;
  }

  .article-list-content-title{
    color: #666666;
    text-decoration: none;
  }
  .article-list-content-card{
    width: 100%;
    padding-bottom: 10px;

    .article-list-content-card-bottom{
      font-size: 1px;
      color: #aaaaaa;
      position: relative;

      .article-list-content-card-bottom-right{
        position: absolute;
        right: 0px;
        bottom: 1px;

        .right-opt{
          padding: 0 10px;
          border-right: 1px solid #e9e9e9;
          cursor: pointer;
          color: #206DD9;
        }
        .right-opt:hover{
          color: #2096E9;
        }
        .right-opt-del{
          border-right: 0px;
          color: red;
        }
        .right-opt-del:hover{
          color: #FF5500 !important;
        }
      }
    }
  }
}

