.quality-dropdown{
  background-color: #ffffff;
  padding: 10px 0;
  text-align: center;
  letter-spacing: 10px;

  .quality-dropdown-select{

    .quality-dropdown-option{
      margin: 0px;
      padding: 5px 0px;
      border-bottom: 1px solid #eeeeee;
      cursor: pointer;
    }
  }

}
