.article-header{
  padding: 10px 0;

  .article-header-title{
    width: 100%;
  }
}
.article-footer{
  margin: 10px 0;
  background-color: #fff;
  height: 200px;
  border-radius: 7px;
  padding: 10px;

  .article-footer-key{
    font-size: 16px;
  }

  .article-footer-tag{

    .article-footer-tag-key{
    }
    .article-footer-tag-value{
      display: inline-block;
    }
    .article-footer-tag-add{
      padding: 0px 10px;
      border-radius: 10px;
      cursor: pointer;
      background-color: #fdd8e7;
      color: #f5317f;
    }
    .article-footer-tag-msg{
      margin: 5px 0 0 53px;
      font-size: 10px;
      color: #aaaaaa;
    }
  }

  .article-footer-private{
    position: relative;
    padding: 10px 0;
    .article-footer-private-value{
      position: absolute;
      bottom: 10px;
    }
  }

  .article-footer-opt{
    padding: 10px 78px;
    button{
      margin-right: 10px;
    }
  }
}

// tag 弹窗
.tag-dialog{
  width: 550px;

  .tag-dialog-search{
    text-align: center;
  }
  .tag-dialog-checked{
    padding: 10px 0;
    .tag-dialog-checked-value{
    }
  }
  .tag-dialog-opt{
    width: 100%;
    height: 300px;

    .tag-dialog-opt-value{
    }
  }
}

